<div class="container mt-3">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="form-control rounded-1 bg-dark text-white">
                <h1 class="text-center text-bold">Acerca del Proyecto</h1>
                <p class="text-center">En este proyeto se intenta hacer una logica sencilla de como hacer una conexion del backend con el frontend de una aplicacion web, 
                    utilizando MongoDB como base de datos y JavaScript como lenguaje de programacion.</p>
            </div>
        </div>
    </div>


</div>

