 
    <nav class="navbar navbar-dark bg-dark nb-4">

        <div class="container">
            <a href="/" class="navbar-brand btn btn-dark">INICIO</a>
            <a href="/about" class="navbar-brand btn btn-dark">ACERCA DE</a>
        </div>

    </nav>